<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criptografía y Seguridad Informática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        <h1>Oauth Code Flow Response</h1>
        <p><strong>Open ID Token:</strong> <span class="token">{{ openid_token }}</span></p>
        <br>
        <button id="Enter" type="button" onclick="window.location.href = '{{ home }}';" class="button">Home</button>
    </div>
</body>
</html>
